.available-meals {
  margin-top: 2rem;
  position: relative;
  z-index: 5;
  color: white;
  background-color: rgb(250, 128, 114, 0.9);
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-bottom: 1rem;
}

.loading-meals {
  text-align: center;
}

.http-error {
  text-align: center;
  color: red;
}