.button {
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  border-style: none;
  padding: .5rem 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font: inherit;
  transition: background-color 1s;
  color: white;
}

.badge {
  display: inline-block;
  width: 50px;
  background-color: rgb(250, 128, 114, 0.4);
  padding: 0.25rem;
  border-radius: 25px;
  margin-left: 1rem;
  transition: background-color 1s;
}

.button:hover, .button:active {
  background-color: rgba(206, 51, 255, 0.4);
  color: black;
}

.button:hover .badge, .button:active .badge {
  background-color: rgba(206, 51, 255, 0.9);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}